{% extends "base.html" %}
{% load i18n %}


{% block content %}
<section id="content">
    <div class="container">
        <div class="c-header">
            <h2>{{title}}</h2>
        </div>

        <div class="action-header palette-theme {{current_theme}} bg clearfix">
            <div class="ah-label hidden-xs palette-White text">{{title}}</div>

            <div class="ah-search">
                <form action="" method="get">
                    <input class="ahs-input" name="q" placeholder="Start typing..." type="text">

                    <i class="ah-search-close zmdi zmdi-long-arrow-left" data-ma-action="ah-search-close"></i>
                    <input class="hidden" type="submit"/>
                </form>
            </div>


        </div>

        <form action="{{url}}" class="ajax reset {% if redirect %}redirect{% endif %}" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body card-padding">

                            <div class="form-group fg-line">
                                <label for="{{ form.inter_state_charges.id_for_label }}">
                                    {{ form.inter_state_charges.label }}
                                    {% if form.inter_state_charges.field.required %}
                                    <small class="star">*</small>
                                    {% endif %}

                                    {% if form.inter_state_charges.help_text %}
                                    <span class="help-text-icon zmdi zmdi-info-outline"
                                          data-content="{{ form.inter_state_charges.help_text }}"
                                          data-original-title="Field Info" data-placement="left"
                                          data-toggle="popover" data-trigger="hover"
                                          title=""></span>
                                    {% endif %}
                                </label>
                                {{ form.inter_state_charges }}

                                {% if form.inter_state_charges.errors %}
                                <label class="error">{{ form.inter_state_charges.errors.as_text }}</label>
                                {% endif %}
                            </div>

                            <div class="form-group fg-line">
                                <label for="{{ form.intra_state_charges.id_for_label }}">
                                    {{ form.intra_state_charges.label }}
                                    {% if form.intra_state_charges.field.required %}
                                    <small class="star">*</small>
                                    {% endif %}

                                    {% if form.intra_state_charges.help_text %}
                                    <span class="help-text-icon zmdi zmdi-info-outline"
                                          data-content="{{ form.intra_state_charges.help_text }}"
                                          data-original-title="Field Info" data-placement="left"
                                          data-toggle="popover" data-trigger="hover"
                                          title=""></span>
                                    {% endif %}
                                </label>
                                {{ form.intra_state_charges }}

                                {% if form.intra_state_charges.errors %}
                                <label class="error">{{ form.intra_state_charges.errors.as_text }}</label>
                                {% endif %}
                            </div>

                            <div class="form-group fg-line">
                                <label for="{{ form.special_discount.id_for_label }}">
                                    {{ form.special_discount.label }}
                                    {% if form.special_discount.field.required %}
                                    <small class="star">*</small>
                                    {% endif %}

                                    {% if form.special_discount.help_text %}
                                    <span class="help-text-icon zmdi zmdi-info-outline"
                                          data-content="{{ form.special_discount.help_text }}"
                                          data-original-title="Field Info" data-placement="left"
                                          data-toggle="popover" data-trigger="hover"
                                          title=""></span>
                                    {% endif %}
                                </label>
                                {{ form.special_discount }}

                                {% if form.special_discount.errors %}
                                <label class="error">{{ form.special_discount.errors.as_text }}</label>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <button class="btn btn-info waves-effect" type="submit">Submit</button>
            </div>
        </form>
    </div>
</section>
{% endblock %}
{% block static %}
{% load static %}
<script type="text/javascript">
		$(document).ready(function(){
			$('input[type=text]').focus(function () {
	        $(this).select();
	    		});
		  });



</script>
{{ form.media }}
{% endblock %}
