<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="css/style.css"
    />
</head>
<body>
    <section style="background-color: #fffaf7; padding: 80px 80px 0px;">
    <table style="display: inline-table; width: 100%; padding-bottom: 30px;">
        <tr>
            <td align="left" class="fit">
                <img src="./images/logo.png" alt="logo" class="log"/>
                <div style="margin-top: 20px;">
                    <h4 class="reg" style="font-size:16px;">CIN:&nbsp;U52609KL2020PTC064474</h4>
                    <h4 class="reg" style="font-size:16px;">GSTIN:&nbsp;32AAICD0019K1ZO</h4>
                    <h4 class="reg" style="font-size:16px;">PAN:&nbsp;AAICD0019K</h4>
                </div>
                
            </td>
            <td>
                <table align="right" width=250px height=200px>
                    <tr>
                        <td colspan="2" class="head">TAX INVOICE</td>
                    </tr>
                    <tr align="right">
                        <td class="bold">INVOICE NO</td>
                        <td class="reg">DTIN000000001</td>
                    </tr>
                    <tr align="right">
                        <td class="bold">INVOICE DATE</td>
                        <td class="reg">01/May/2021</td>
                    </tr>
                    <tr align="right">
                        <td class="bold">ORDER ID</td>
                        <td class="reg">#DT00001</td>
                    </tr>
                    <tr align="right">
                        <td class="bold">ORDER DATE</td>
                        <td class="reg">01/May/2021</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>   
    <table width="100%" style="background-color: #fffaf7; margin-top: -10px;">
        <tr>
            <td>
                <table align="left" width="500px" height="200px">
                    <tr style="height: 30px;">
                        <td class="bold"style="font-size:20px";>RECIPIENT</td>
                    </tr>
                    <tr style="height: 30px;">
                        <td class="name">Antonio Simran</td>
                    </tr>
                    <tr>
                        <td style="vertical-align: baseline;">+91 7907205541</td>
                    </tr>
                </table>      
            </td>
            <td>
                <table align="right" width="400px">
                    <tr style="text-align: right;" >
                       <th style="font-size: 18px; font-family:Baloo Paaji 2 Semibold;">Billing Adddress</th> 
                    </tr>
                    <tr style="text-align: right;">
                        <td class="reg">Evans Mills NY 13637.901 Route 110,</td>
                    </tr>
                    <tr style="text-align: right;">
                        <td class="reg">Newyork Town, Farmingdale,Gateno 456</td>
                    </tr>
                    <tr style="text-align: right;">
                        <td class="reg">Zip code: 671548</td>
                    </tr>
                    <tr style="text-align: right;">
                        <td style="padding-top: 0px;">+91 7907205541</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</section>
    <section style="padding:  0px 80px;">
        <table width="100%" style="margin-top: 10px; border-bottom: 2px solid #f4f4f4;">
            <tr>
                <td width="20%" class="desc" style="font-size: 18px">DESCRIPTION <br/><br/><h4 style="color: #000; font-size: 16px; font-weight: bold;margin-bottom:30px">Photo Frame</h4></td>
                <td width="20%"  class="desc" style="text-align: right; font-size: 18px">HSAN/SAC CODE <br/><br/><h4 style="color: #000; font-size: 16px; font-weight: bold;margin-bottom:30px">830630</h4></td>
                <td width="20%"  class="desc" style="text-align: right;font-size: 18px">PRICE <br/><br/><h4 style="color: #000; font-size: 16px; font-weight: bold;margin-bottom:30px">₹ 4464.00</h4 ></td>
                <td width="20%" class="desc" style="text-align: right;font-size: 18px">QTY <br/><br/><h4 style="color: #000; font-size: 16px; font-weight: bold;margin-bottom:30px">1</h4></td>
                <td width="20%"  class="desc" style="text-align: right;font-size: 18px">NET PRICE <br/><br/><h4 style="color: #000; font-size: 16px; font-weight: bold; margin-bottom:30px">₹ 4464.00</h4></td>
            </tr>
        </table>
        <table width="100%" style="border-bottom: 2px solid #f4f4f4;">
            <tr>
                <td>
                    <table align="right" width=350px height=300px>
                        <tr style="text-align: right; border-bottom: 2px solid #f4f4f4;">
                            <td style="text-align: left;" class="reg">Taxable Value</td>
                            <td>₹ 1999</td>
                        </tr>
                         <tr style="text-align: right; border-bottom: 2px solid #f4f4f4;">
                            <td style="text-align: left;" class="reg">Shipping & Packaging Charges</td>
                            <td>₹ 120</td>
                        </tr>
                         <tr style="text-align: right; border-bottom: 2px solid #f4f4f4;">
                            <td style="text-align: left;" class="reg">Promotional Discount</td>
                            <td>-₹ 120</td>
                        </tr>
                        <tr style="text-align: right; border-bottom: 2px solid #f4f4f4;">
                            <td style="text-align: left;" class="reg">CGST (9%)</td>
                            <td>₹ 180.5</td>
                        </tr>
                        <tr style="text-align: right; border-bottom: 2px solid #f4f4f4;">
                            <td style="text-align: left;" class="reg">SGST(9%)</td>
                            <td >₹ 150.4</td>
                        </tr>
                        <tr style="text-align: right;">
                            <td style="text-align: left; padding:  0px 0px 30px 0px;" class="bold">TOTAL AMOUNT</td>
                            <td class="bold" style="padding:  0px 0px 30px 0px;" >₹ 2,360</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <table width="100%" height="150px"class="border"style="border-bottom: 1px solid #000; margin-top: 50px;">
            <tr class="border">
                <th style="vertical-align: middle;"class="border desc" rowspan="2">HSN/SAC</th>
                <th style="vertical-align: middle;"class="border desc" rowspan="2">Taxable Amount</th>
                <th class="border desc" colspan="2"style="vertical-align: middle;">Central tax</th>
                <th class="border desc" colspan="2"style="vertical-align: middle;">State tax</th>
                <th style="vertical-align: middle;"class="border desc" rowspan="2">Total Tax Amount</th>
            </tr>
            <tr>
                <th align="center"class="border desc"style="vertical-align: middle;">Rate</td>
                <th align="center"class="border desc"style="vertical-align: middle;">Amount</td>
                <th align="center"class="border desc"style="vertical-align: middle;">Rate</td>
                <th align="center"class="border desc"style="vertical-align: middle;">Amount</td>
            </tr>
            <tr>
                <td align="center" class="border">840630</td>
                <td align="center" class="border">₹ 4464.00</td>
                <td align="center" class="border desc">6%</td>
                <td align="center" class="border">₹ 265.50</td>
                <td align="center" class="border desc">8%</td>
                <td align="center" class="border">₹ 445.56</td>
                <td align="center" class="border">₹ 446.65</td>
            </tr>
        
        </table>
        <div style="border-top: 2px solid #f4f4f4; margin-top: 30px;">
            <h3 class="reg">Thank You For Making The Payment!</h3>
        </div>
    </section>
</body>
</html>